<section id="site-sidebar">
    {{ if .Site.Params.sidebar.categories }}
    {{ if ne ($.Scratch.Get "showCategories") false }}

    <section id="categories">
        <header>
            <h1><a href="{{ "themes" | relLangURL }}">Themes</a></h1>
        </header>
        <ul>
            {{ $.Scratch.Set "themes" (cond .Site.Params.sidebar.categoriesByCount .Site.Taxonomies.themes.ByCount
            .Site.Taxonomies.themes.Alphabetical) }}
            {{ range $key, $value := $.Scratch.Get "themes" }}
            <li>
                {{ $.Scratch.Set "category_name" (replace (title $value.Name) "-" " ") }}
                {{ $.Scratch.Set "week_part" (slicestr ($.Scratch.Get "category_name") 0 7) }}
                {{ $.Scratch.Set "theme_part" (slicestr ($.Scratch.Get "category_name") 7) }}
                <a href="{{ printf "%s/%s" "themes" $value.Name | urlize | relLangURL }}/">
                    {{ $.Scratch.Get "week_part" }}: {{ $.Scratch.Get "theme_part" }}
                    <span class="count">{{ $value.Count }}</span>
                </a>
                {{ end }}
            </li>
        </ul>
    </section>
    {{ end }}
    {{ end }}
</section>
