/* Desktop/tablet. */

@media (min-width: 1024px) {
    #site-main {
        margin-left: 0;
    }

    #wrapper {
        grid-template-columns: 25em 1fr;
    }

    .submission-count {
        float: right;
    }

    .term-table {
        border-spacing: 0;
    }
}

/* Mobile devices. */

@media (max-width: 1024px) {
    /* Nothing. */
}

/* Device-agnostic. */

body,
input,
select,
textarea {
    color: rgb(0, 0, 0);
}

blockquote p {
    margin: 0;
}

.copyright {
    color: rgb(0, 0, 0);
}

.term-table {
    margin: 0;
    max-width: 100%;
    width: 100%;
    box-shadow: none;
}

.term-table tbody tr td {
    text-align: left !important;
}

.content-list-figure {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.content-list-figure img {
    width: 100%;
    max-width: 100%;
}

.single-figure {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.single-figure img {
    width: 100%;
    max-width: 100%;
}

.image {
    padding-bottom: 100%;
}

#site-intro {
    padding: 4em 3em 2em;
}

#site-sidebar {
    padding-left: 1em;
    padding-right: 1em;
}

#site-sidebar ul {
    font-size: 0.75em;
    text-transform: none;
}

#wrapper {
    max-width: 82em;
}

#categories ul li {
    line-height: 2.1em;
}

#content ul {
    padding-right: 32px;
}

#search {
    display: none;
}
