{{- if or .Params.images .Params.featured -}}
  {{- $src := "" -}}
  {{- $href := "" -}}
  {{- $alt := "" -}}
  {{- $caption := "" -}}

  {{- if .Params.images -}}
    {{- range first 1 .Params.images -}}
      {{- $src = .src | absURL -}}
      {{- $href = .href | absURL -}}
      {{- $alt = .alt -}}
      {{- $caption = .caption -}}
    {{- end -}}
  {{- end -}}

  <figure class="content-list-figure">
    <a href="{{ $href }}">
      <img src="{{ $src }}" alt="{{ $alt }}"/>
    </a>
  </figure>
  {{- if $caption -}}
    <p style="text-align: center"><i>{{ $caption }}</i></p>
  {{- end -}}

{{- end -}}
