{{ define "main" }}
  <article class="post">
    <header>
      <div class="title">
        <h1>{{ .Data.Plural }}</h1>
        <p>Click one of the {{ .Data.Plural }} to filter the submissions.</p>
      </div>
    </header>
    <div id="content">
      <table class="term-table">
        {{ range .Data.Terms }}
        <tr>
          <td>
            <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
          </td>
          <td>
            <span class="submission-count">
              {{ .Count }} submission{{ if gt .Count 1 }}s{{ end }}
            </span>
          </td>
        </tr>
        {{ end }}
      </table>
      {{ $.Scratch.Set "showCategories" true }}
    </div>
  </article>
  {{ $.Scratch.Set "showCategories" true }}
{{ end }}
