{{ define "main" }}
  <article class="post">
    <header>
      <div class="title">
        <h1>{{ .Data.Plural }}</h1>
        <p>Click one of the {{ .Data.Plural }} to filter the submissions.</p>
      </div>
    </header>
    <div id="content">
      <ul>
        {{ range .Data.Terms }}
        <li>
          <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a><span style="float:right;">{{ .Count }}</span>
        </li>
        {{ end }}
      </ul>
      {{ $.Scratch.Set "showCategories" true }}
    </div>
  </article>
  {{ $.Scratch.Set "showCategories" true }}
{{ end }}
