<footer id="site-footer">
  {{ if or (.Site.Params.footer.rssFooter) (.Site.Params.footer.socialFooter) }}
      <ul class="socnet-icons">
        {{ if .Site.Params.footer.rssFooter }}{{ partial "rss-icon" . }}{{ end }}
        {{ if .Site.Params.footer.socialFooter }}{{ partial "socnet-icon" . }}{{ end }}
      </ul>
  {{ end }}
  <p class="copyright">
    &copy; Design Refresh by <a href="https://fiveclawd.com" target="_blank" rel="noopener">FiveClawD</a>, 2021 - present.

    <br/><br />

    The 2021 Design Refresh respects international intellectual property law. Content and media on this website is owned
    by their original copyright holders, hosted here via assets pulled from our official Discord community.

    <br /><br />

    Changes to pages will be made on request of original copyright holders.
  </p>
</footer>
<a id="back-to-top" href="#" class="fas fa-arrow-up fa-2x"></a>
